<!-- <div class="content">
    <h1>Water Tracker</h1>
    
    <form action="/add-competitor" method="POST" class="form-inline">
        <input type="text" name="name" placeholder="Competitor Name" required>
        <button type="submit">Add Competitor</button>
    </form>

    <ul>
        <% competitors.forEach(competitor => { %>
            <li>
                <h2><%= competitor.name %> - <%= competitor.totalWater %> glasses</h2>
                <form action="/log-water" method="POST" class="form-inline">
                    <input type="hidden" name="name" value="<%= competitor.name %>">
                    <input type="number" name="glasses" placeholder="Glasses" min="1" required>
                    <button type="submit">Log Water</button>
                </form>
            </li>
        <% }) %>
    </ul>
</div> -->
